body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.registration-container{
    background-color: white;
    padding: 40px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

  form {
    display: flex;
    flex-direction:column;
}

  label {
    font-weight: bold;
    margin-bottom: 8px;
}

  input[type="text"], input[type="password"], input[type="email"],  select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

  input[type="radio"], input[type="checkbox"] {
    margin-right: 8px;
}
  
  .Genere-group , .Interessi-group{
    margin-bottom: 20px;
}

  .Genere-group label, .Interessi-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
}

button{
    font-size: 16px;
    padding: 12px;
    border-radius: 4px;
    color: white;
    background-color: red;
    border:none;
    cursor:pointer;
}

button:hover {
    background-color: #218838;
}

